{#
/**
 * @file
 * Gratis' theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Navigation:
 * - main_menu: The Main menu links for the site, if they have been configured.
 * - secondary_menu: The Secondary menu links for the site, if they have been
 *   configured.
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - feed_icons: All feed icons for the current page.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * @TODO
 *
 * @see template_preprocess_page()
 * @see gratis_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{% if page.top_panel %}
    <div id="top-panel">
        {{ page.top_panel }}
    </div>
{% endif %}

<div id="wrapper">

{% if page.top_links %}
<div id="top-bar" class="top-wrapper">
    <div class="grid-container top-wrapper-inner" style="max-width:{{ thegrid }}">
        <div class="grid-100 top-links">
            {{ page.top_links }}
        </div>
    </div>
</div>
{% endif %}

    <div id="header-bar">
        <header role="banner" class="grid-container banner" style="max-width:{{ thegrid }}">
            <div class="grid-25 logo-wrapper header-grid">
        <div id="brand">
          <div id="logo">

    {% if logo %}
        <a href="{{ front_page }}" title="{{ site_name }} » {{ site_slogan }}">
            <img id="logo-img" src="{{ logo }}" alt="{{ site_name }} » {{ site_slogan }}"/></a>
    {% else %}

        <h1 class="site-name">
            <a href="{{ front_page }}">
                {{ site_name }}</a>
        </h1>

    {% endif %}
</div>
</div>
            </div>
            <!--//logo-wrapper-->

            <div class="grid-75 branding-grid header-grid">
                {% if site_slogan or site_name %}
                    <div id="branding-wrapper">

                        {% if logo %}
                            {% if site_name %}
                                <h1 class="site-name">
                                    <a href="{{ front_page }}">{{ site_name }}</a>
                                </h1>
                            {% endif %}
                        {% endif %}

                        {% if site_slogan %}
                            <h3 class="branding">{{ site_slogan }}</h3>
                        {% endif %}

                    </div>
                {% endif %}
            </div>
            <!--//branding-grid-->

        </header>
    </div>

    <div id="menu-wrapper">
        <div class="grid-container main-menu-wrapper" style="max-width:{{ thegrid }}">
            <div class="grid-100">

                <section id="main-menu" role="navigation">
                    {% if main_menu %}
                        <a class="menu-link" href="#menu">
                            <i class="icon-fixed-width menu-icon">&#xf039;</i>
                        </a>
                        <nav id="menu" class="main-navigation">
                            {{ main_menu }}
                        </nav>
                    {% endif %}

                    <!-- for third party menu systems or modules-->
                    {% if page.thirdparty_menu %}
                        {{ page.thirdparty_menu }}
                    {% endif %}

                </section>
            </div>
        </div>
    </div>

    {% if breadcrumb %}
        <div id="breadcrumbs">
            <header class="grid-container" style="max-width:{{ thegrid }}">
                <div class="grid-100">{{ breadcrumb }}</div>
            </header>
        </div>
    {% endif %}

    {# Define and divide the preface page regions. #}
    {% if page.preface_first or page.preface_second or page.preface_third %}

        <div id="preface-wrapper">
            <div class="grid-container" id="preface-container" style="max-width:{{ thegrid }}">

                <!--Preface -->
                {% if page.preface_first %}
                    <div class="{{ pre_columns }}">
                        {{ page.preface_first }}
                    </div>
                {% endif %}

                {% if page.preface_second %}
                    <div class="{{ pre_columns }}">
                        {{ page.preface_second }}
                    </div>
                {% endif %}

                {% if page.preface_third %}
                    <div class="{{ pre_columns }}">
                        {{ page.preface_third }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endif %}

    <main role="main" class="grid-container" style="max-width:{{ thegrid }}" id="content">
        <div  id = "main-content"  class="content-grid {{ content_columns }}">

            {% if page.content_top %}
                {{ page.content_top }}
            {% endif %}

            {% if messages %}
                <div id="messages">
                    <div class="section clearfix">
                        {{ messages }}
                    </div>
                </div> <!-- /.section, /#messages -->
            {% endif %}

            {% if page.highlighted %}
                <div id="highlighted">{{ page.highlighted }}</div>{% endif %}
            <a id="main-content"></a>
            {{ title_prefix }}
            {% if title %}
                <h1 class="title" id="page-title">
                    {{ title }}
                </h1>
            {% endif %}
            {{ title_suffix }}
            {% if tabs %}
                <nav class="tabs" role="navigation">
                    {{ tabs }}
                </nav>
            {% endif %}
            {{ page.help }}
            {% if action_links %}
                <ul class="action-links">
                    {{ action_links }}
                </ul>
            {% endif %}
            {{ page.content }}
            {#{{ feed_icons }}#}

        </div>

        <!--Sidebar first-->
        {% if page.sidebar_first %}
            <aside id="sidebar-first" class="sidebar {{ sb_columns }}
">
                {% if page.sidebar_first %}
                    {{ page.sidebar_first }}
                {% endif %}</aside>
        {% endif %}
        <!-- // Sidebar first  (first only - grid-20 pull-80) -->

        <!--Sidebar second-->
        {% if page.sidebar_second %}
            <aside id="sidebar-second" class="grid-20 sidebar">
                {% if page.sidebar_second %}
                    {{ page.sidebar_second }}
                {% endif %}</aside>
        {% endif %}
        <!-- // Sidebar second-->

    </main>

    {# Define and divide the postscript page regions. #}
    {% if page.postscript_first or page.postscript_second or page.postscript_third %}

        <div id="postscript-wrapper">
            <div class="grid-container" id="postscript-container" style="max-width:{{ thegrid }}">

                <!--Postscript -->
                {% if page.postscript_first %}
                    <div class="{{ pos_columns }}">
                        {{ page.postscript_first }}
                    </div>
                {% endif %}

                {% if page.postscript_second %}
                    <div class="{{ pos_columns }}">
                        {{ page.postscript_second }}
                    </div>
                {% endif %}

                {% if page.postscript_third %}
                    <div class="{{ pos_columns }}">
                        {{ page.postscript_third }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endif %}

    <div class="push-sticky"></div>

</div>

<footer id="footer" role="footer">
    <section class="grid-container">
        <div class="grid-100">
            {% if page.footer_first %}
                {{ page.footer_first }}
            {% endif %}
        </div>
    </section>
</footer>

